<%- include('../partials/header') %>
    <p><a href="/books" class="nav-link">Back to Bookshelf</a></p>

    <div id="book-details">
        <h1 class="book-title"><%= book.title %></h1>
        <h2>written by <%= book.author %></h2>
        <p><%= book.description %></p>
        <h3>Genre</h3>
        <p><%= book.genre %></p>
        <h3>Language</h3>
        <p><%= book.language %></p>
        <h3>More Info</h3>
        <p>Published in <%= book.year %> by <%= book.publisher %></p>
        <p><%= book.pages %> pages</p>
        <p>ISBN#<%= book.isbn %></p>
        <h3>Collection</h3>
        <p><%= book.isOwned ? 'You already own this book.' : 'You do not own this book.' %></p>
    </div>

    <div id="show-page-buttons-div">
        <a href="/books/<%= book._id %>/edit" id="edit-book-link">edit book</a>

        <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
            <button type="submit">delete book</button>
        </form>
    </div>
</body>
</html>