<%- include('../../partials/header') %>
    <% if (user) { %> 
        <%- include('../../partials/user-nav') %>
    <% } else { %>
        <p><a href="/" class="nav-link">← Go Home</a></p>
    <% } %>
    <h1 class="dm-serif-display">Books Read</h1>
    <%- include('../../partials/nav') %>
    <h2 class="dm-serif-display">You have completed <%= books.length %> books ★</h2>

    <input type="search" name="search-shelf" class="search-shelf" placeholder="🔎"/>

    <ul class="book-list" id="finished-books-list">
        <% books.forEach(book => { %>
            <li class="book"><a href="/books/<%= book._id %>"><%= book.title %> by <%= book.author %></a></li>
        <% }); %>
    </ul>
</body>
</html>