<%- include('../../partials/header') %>
    <p><a href="/" class="nav-link">← Go Home</a></p>
    <h1 class="dm-serif-display">Favorite Books</h1>
    <%- include('../../partials/nav') %>
    <h2 class="dm-serif-display">You have <%= books.length %> top picks ♥︎</h2>
    <ul class="book-list" id="favorites-list">
        <% books.forEach(book => { %>
        <li><a href="/books/<%= book._id %>"><%= book.title %> by <%= book.author %></a></li>
        <% }); %>
    </ul>
</body>
</html>