<%- include('../partials/header') %>
    <p><a href="/search" class="nav-link">← Back to Search</a></p>
    <h1 class="dm-serif-display">Book Editions Page</h1>
    <p>Showing all Editions (<%= editions.entries.length %>)</p>

    <div id="editions-box">
        <% editions.entries.forEach((e) => { %>
            <div class="edition-divs">
                <img src="https://covers.openlibrary.org/b/isbn/<%= e.isbn_13 %>-M.jpg" />
                <div>
                    <p>title: <%= e.title %></p>
                    <p>publish date: <%= e.publish_date %></p>
                    <% if (e.publishers) { %>
                        <p>publisher: <%= e.publishers %></p>
                    <% } %>
                    <% if (e.number_of_pages) { %>
                        <p>pages: <%= e.number_of_pages %></p>
                    <% } %>
                    <p>ISBN: <%= e.isbn_13 %></p>
                </div>
                <form action="/search/results/<%= e.isbn_13 %>" method="POST">
                    <button type="submit" class="add-book-from-search">add book</button>
                </form>
            </div>
        <% }); %>
    </div>
        
</body>
</html>